<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="Author" content="Chandan Mukherjee">
  <meta name="Keywords" content="Login Page">
  <meta name="Description" content="User Login Page">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>ASSIGN MENTOR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      .bs-example{
          margin: 50px;
        }
    </style>
    </head>
    <body>
      <div class="container" style="text-align: center;">
        <br />
        <br />
        <nav>
          <b>
            <a href="/afteradminlogin">ADMIN HOME</a> |
        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">View </a>
          |<div class="dropdown-menu">
            <a href="/viewStudentByMentor" class="dropdown-item"> Student</a>
              <a href="/viewmentor" class="dropdown-item">  Mentor</a>
              </div>
        
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search </a>
          |<div class="dropdown-menu">
              <a href="/search" class="dropdown-item">Student</a>
              <a href="/searchmentor" class="dropdown-item"> Mentor</a>
          </div>
        <a href="/admentor">ADD MENTOR</a> |
        <a href="/assignmentor">ASSIGN MENTOR</a> |
        <a href="/delete">DELETE</a> |
        <a href="/logout">LOGOUT</a> |
         </b>
        </nav>
        <br />
        <br />

























    
    <h1> WELCOME {{ utype }}</h1>
    <h3> THIS IS Admin DASH BOARD </h3>
</div>
</body>

</html>