<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel="stylesheet" href="{{url_for('static',  filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/icofont/icofont.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/aos/aos.css') }}">

   <!-- Template Main CSS File -->
   
   <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">  
  <!-- =======================================================
  * Template Name: Mentor - v2.2.1
  * Template URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="/"></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          
          <li><a href="/branches">Branches</a></li>
          
          <li><a href="/events">Events</a></li>
          <li class="drop-down"><a href="">Login</a>
            <ul>
              <li><a href="/studentlogin">Student</a></li>
              <li><a href="/mentorlogin">Mentor</a></li>
              <li><a href="/adminlogin">Admin</a></li>
              
            </ul>
            </li>
            <li><a href="/studentreg">Student Register</a></li>
          <li><a href="/aboutus">About</a></li>
          <li><a href="/contactus">Contact</a></li>
          
        </ul>
      </nav><!-- .nav-menu -->

      <a href="/branches" class="get-started-btn">Get Started</a>
      <div class="image" style="padding-left:80px">
        <img src="{{ url_for('static', filename='assets/img/logo1.jpg') }}" >
        </div>


    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      
      <a href="/branches" class="btn-get-started">Get Started</a>
      
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <p>About Us</p>
        </div>

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{{ url_for('static', filename='assets/img/about.jpg')}}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>VISION</h3>
            <p class="font-italic">
              GMIT will provide our students with a transformative university experience, empowering our graduates to fully contribute to the social, economic and cultural betterment of society.

We aim to invest in excellent applied learning, teaching and research environments, reflecting the real needs of business, enterprise and the professions in our region.

We aim to be a preferred partner for research and an enterprise innovator that attracts, supports and encourages students and staff from all over the world, enabling them to reach their full potential.</p><br/>
<h3>MISSION</h3>
<h6>To provide students with a transformative university experience, GMIT will:</h6>

            <ul>
              <li><i class="icofont-check-circled"></i>Enable access and opportunity for a diverse student community </li>
              <li><i class="icofont-check-circled"></i>Attract, retain and support highly talented staff</li>
              <li><i class="icofont-check-circled"></i>Maintain our positive staff-student interactions</li>
              <li><i class="icofont-check-circled"></i>Invest in innovative research and applied teaching and learning</li>
              <li><i class="icofont-check-circled"></i>Collaborate with government agencies, enterprise and the community</li>
              <li><i class="icofont-check-circled"></i>Develop confident professional, knowledgeable and skilled graduates who are equipped to contribute as global citizens</li>
              
            </ul>
            
            <a href="/aboutus" class="learn-more-btn">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">7000</span>
            <p>Students</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">5</span>
            <p>Courses</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">42</span>
            <p>Events</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">50</span>
            <p>Trainers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    

   
    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Branches</h2>
          <P>OUR BRANCHES</P>
          </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="branch-item">
              <img src="{{ url_for('static', filename='assets/img/branch-1.jpg')}}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>CSE</h4>
                  </div>
                   
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="{{ url_for('static', filename='assets/img/branch-2.jpg')}}" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>ECE</h4>
                  </div>
                  </div>
                </div>
              </div>
            </div>
           

        
          <a href="/branches" class="learn-more-btn">Learn More</a>
        </div>

      </div>
    </section><!-- End Popular Courses Section -->
    

    <!-- ======= Trainers Section ======= -->
    
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3 align="center">GMIT</h3>
            <p>
             <strong>College Address:</strong>Gargi Memorial Institute of Technology, Balarampur, Mouza Beralia, Baruipur, Kolkata - 700144<br/>
              <strong>Phone:</strong>+91 33 2433-0113,+91 33 2701-7511<br/>
              <strong>Email:</strong>admissiongmit@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/aboutus">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <a href="/contactus" class="learn-more-btn" type="submit">Subscribe Now</a>
            </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Gmit It Department</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/jquery.easing/jquery.easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/php-email-form/validate.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/waypoints/jquery.waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/owl.carousel/owl.carousel.min.js')}}"></script>
  <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>

</body>

</html>